[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
nft_staking = "6fc11zfjvqNDoMK9eWTCQGf28S8qrK1xW6M8HakJGQM7"

[programs.devnet]
nft_staking = "6fc11zfjvqNDoMK9eWTCQGf28S8qrK1xW6M8HakJGQM7"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test.validator]
url = "https://api.mainnet-beta.solana.com"

[[test.validator.clone]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"